.loginButton {
  border: 3px solid darkblue;
  background: none;
  color: darkblue;
}

.logoutButton {
  border: 3px solid darkblue;
  background-color: darkblue;
  color: white;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav {
  padding: 0 35px;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.login-form {
  position: relative;
  max-width: 400px;
  width: 100%;
  border: 2px solid darkblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}
