/* Write your CSS Here. */
#now-showing {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  width: 250px;
  height: 350px;
  border: 5px dotted goldenrod;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 0, 32, 0.61);
}

.title,
.cast,
.year {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.poster {
  width: 150px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  border-bottom: 2px solid darkgray;
  padding-bottom: 10px;
}

#search-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
